.num-head{
    font-size: 60px;
    line-height: 86px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}
.num-para{
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}
.num-he{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Raleway", sans-serif;
}
@media screen and (max-width:390px) {
    .our-num{
        text-align: center;
    }
    
}
@media screen and (max-width:414px) {
    .our-num{
        text-align: center;
    }
    
}
.number-image{
color: #fff;
    background-image: url("../Images/main.jpg");
   
}
.faq-image{
    width: 80%;
    border-radius: 100%;
    margin-left: 80px;
}
.faq-icons{
    padding-top: 80px;
    padding-bottom: 50px;
}
.faq-heading{
    padding-top: 80px;
}
@media screen and (max-width:540px) {
    .faq-image{
        margin-left: 50px;
        padding-top: 40px;
    }
    
}