span.vertical-timeline-element-icon.bounce-in{
    background-color: black !important;
}
.vertical-timeline-element-content.bounce-in{
    background-color: black !important;
    color: white !important;
}
.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns::before{
    color: red !important;
}